body {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	background: #eee;
	display: flex;
	flex-wrap: wrap;
}


.wrapper {
	width: 100%;
	padding: 6vw 12vw;
}

.project {
	margin-bottom: 7.5rem;
}
