
body {
	font-family: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, sans-serif;
	background-repeat: no-repeat;
  background-attachment: fixed;
	background-image: linear-gradient(180deg, #fdfbfb 0%, #ebedee 100%);
	display: flex;
	flex-wrap: wrap;
	letter-spacing: 0.05rem;
}

.wrapper {
	box-sizing: border-box;
	width: 100%;
	padding: 0 20px;
	max-width: 1080px;
	margin: 0 auto;
	overflow: hidden;
}

.project {
	justify-content: center;
	margin: 2rem 0;
	display: flex;
	flex-wrap: wrap;
	background-color: transparent;

	@media (min-width: $md) {
		flex-wrap: nowrap;
	}
}

.project__right {
	flex-direction: row-reverse;
}

.project--img {
	margin-bottom: 2rem;
	width: 100%;
	height: 0;
	padding: 0 2rem 75%;
	overflow: hidden;
	text-align: center;
	transform: scale(0.95);
	border: none;

	@media (min-width: $md) {
		height: auto;
		padding-bottom: 0;
		text-align: left;
		width: calc(40% - 10px);
	}

	&:hover {
		background-color: transparent;
	}
}

.project--txt {
	display: flex;
	align-items: center;
	width: 100%;

	@media (min-width: $md) {
		width: calc(55% - 10px);
	}

	p {
		margin-bottom: 2rem;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.project--year p {
	font-weight: 500;
	margin-bottom: 0;
}

.project--section {

	ul {
		max-width: $md;
	}
}

.section--highlight {
	background-color: #DDD;
}

.project--toggle {
	overflow: hidden;
	max-height: 0;
	opacity: 0;
  transition: all 400ms ease-out;

	&.is-visible {
		max-height: 20000px;
		opacity: 1;
	}
}

.project--prototype {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	h2 {
		width: 100%;
	}
}

.personas {
	display: flex;

	> div {
		max-width: 100%;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}
}

img {
	max-width: 100%;
}

.design {
	cursor: crosshair;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 4rem;
	justify-content: center;
	text-align: center;
	background-color: transparent;
	transition-duration: 250ms !important;
}

.design--text {
	padding: 0 2rem 1rem;
	width: 100%;

	p {
		text-align: center;
		letter-spacing: 0.025rem;
		line-height: 1.5;
		max-width: none;
	}
}

.design--video {
	margin-top: 2rem;
	max-width: 100%;
}

.design--img {
	width: 100%;
}

.nav--articles {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 2rem 0;

	.article--item.article--next {
		text-align: right;
		margin-right: 0;
		margin-left: auto;
	}
}

[data-block] {
	.js-on & {
		opacity: 0;

		&.fade-in {
			opacity: 1;
		}
	}
}

section {
	width: 100%;
	padding: 4rem 0;
}

footer {
	padding: 4rem 0;
	width: 100%;
	background-color: #EDEDED;
	border-top: 0.5rem solid #EBEBEB;

	p {
		font-size: 80%;
		margin: 0;
		max-width: none;
	}
}
