@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 400;
  src: url("../assets/fonts/Inter-UI-Regular.woff2") format("woff2"),
       url("../assets/fonts/Inter-UI-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 400;
  src: url("../assets/fonts/Inter-UI-Italic.woff2") format("woff2"),
       url("../assets/fonts/Inter-UI-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 500;
  src: url("../assets/fonts/Inter-UI-Medium.woff2") format("woff2"),
       url("../assets/fonts/Inter-UI-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 500;
  src: url("../assets/fonts/Inter-UI-MediumItalic.woff2") format("woff2"),
       url("../assets/fonts/Inter-UI-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 600;
  src: url("../assets/fonts/Inter-UI-SemiBold.woff2") format("woff2"),
       url("../assets/fonts/Inter-UI-SemiBold.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 600;
  src: url("../assets/fonts/Inter-UI-SemiBoldItalic.woff2") format("woff2"),
       url("../assets/fonts/Inter-UI-SemiBoldItalic.woff") format("woff");
}
