.header {
  width: 100%;
  border-top: 0.5rem solid blue;
  position: relative;
}

.title {
  background-color: #eee;
  display: flex;
  align-items: center;
  padding: 7.5rem 0;
  width: 100%;
  position: relative;

  @media (min-width: $md) {
    padding: 10rem 0;
  }
}

.title--lg {
	@media (min-width: $md) {
		padding: 15rem 0;
	}
}

.navigation {
  position: absolute;
  top: 4rem;
  z-index: 1;
  width: 100%;
}
