h1 {
  color: #444;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: -0.05rem;
  line-height: 1.25;
  position: relative;

  .title__highight {
    font-weight: 300;
  }
}

h2 {
  color: #444;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.75;
  margin-bottom: 2rem;
  position: relative;

  .title__highight {
    font-weight: 300;
  }
}

h3 {
  color: #444;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
  position: relative;
  line-height: 1.75;
}

p {
  color: #444;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 2rem;
  margin-bottom: 1rem;

  &:empty {
    margin-bottom: 0;
  }
}

p.small {
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
  opacity: 0.75;
  margin-bottom: 0;
}


.link {
	color: rgba(blue, 0.75);
	font-size: 0.875rem;
  font-weight: 700;
	text-decoration: none;

	span {
		padding-bottom: 4px;
	}

	&:hover,
  &.is-active {
    span {
		border-bottom: 4px solid rgba(blue, 0.75);
  	}
  }
}

.link.link__dark {
  color: #525252;
}

strong {
  font-weight: 700;
}

.title {
  margin-bottom: 4rem;
  padding: 4rem 0;

  &.title__small {
    margin-bottom: 2rem;
    padding: 2rem 0;

    h1 {
      font-size: 3rem;
    }
  }
}

.title__highlight {
  color: rgba(blue, 0.75);
  text-decoration: none;
}

.title__company {
  font-size: 80%;
  font-weight: 300;
}

.title__slide {
  display: inline;
  text-indent: 1rem;

  img {
    height: 5rem;
    margin-bottom: -1rem;
  }

  span {
    animation: topToBottom 15s ease-out infinite 0s;
    opacity: 0;
    overflow: hidden;
    position: absolute;

    &:nth-child(2) {
      animation-delay: 3s;
    }

    &:nth-child(3) {
      animation-delay: 6s;
    }

    &:nth-child(4) {
      animation-delay: 9s;
    }

    &:nth-child(5) {
      animation-delay: 12s;
    }
  }
}

@keyframes topToBottom {
  0% { opacity: 0; }

  5% {
    opacity: 0;
    transform: translateY(-50px);
  }

  10% {
    opacity: 1;
    transform: translateY(0);
  }

  25% {
    opacity: 1;
    transform: translateY(0);
  }

  30% {
    opacity: 0;
    transform: translateY(50px);
  }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

ul {
  list-style-type: disc;
  padding-left: 1.25rem;
  margin-bottom: 2rem;
}

li {
  padding-left: 0.25rem;
  opacity: 0.75;
}
