<head>

  <!-- Common metas -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="{{ "/apple-touch-icon.png?2" | relative_url }}">
  <link rel="shortcut icon" href="{{ "/favicon.ico?2" | relative_url }}">

  <!-- CSS files -->
  <link rel="stylesheet" href="{{ "css/styles.css" | relative_url }}">

  <title>{{ site.title }} | {{ page.title | default: "UX designer"}}</title>

  <meta name="google-site-verification" content="Dao2OUqG0jPPD8Q6y1rxzp3sin9z8OWsXgstXtB-jn4" />

</head>
