<head>

  <!-- Common metas -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="{{ "/apple-touch-icon.png?2" | relative_url }}">
  <link rel="shortcut icon" href="{{ "/favicon.ico?2" | relative_url }}">

  <!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700&display=swap" rel="stylesheet">

  <!-- CSS files -->
  <link rel="stylesheet" href="{{ "css/styles.css" | relative_url }}">

  <title>{{ site.title }} | {{ page.title | default: "Dan OC"}}</title>

</head>
