<header class="header" role="banner" data-block>
  <nav role="nav" class="nav">
    <a href="/" class="nav--title">Dan OC.</a>
    <ul class="nav--list">
      <li class="nav--item">
        <a class="link link__dark{% if page.url == '/' %} is-active{% endif %}" href="/?work">
          <span>Work</span>
        </a>
      </li>
      <li class="nav--item">
        <a class="link link__dark{% if page.url == '/about/' %} is-active{% endif %}" href="/about/">
          <span>About</span>
        </a>
      </li>
    </ul>
  </nav>
</header>

<script>
  function jsToggle() {
    document.documentElement.classList.add('js-on');
  }

  jsToggle();
</script>
