---
layout: default
---

<header class="title">
  <div class="wrapper">
    <h1>
      {{ site.name }}<br />
      <span class="title__highight">
        {{ site.introduction }}
      </span>
    </h1>
  </div>
</header>

<section class="section--highlight">
  <div class="wrapper">
    <h2>About me</h2>
    <p>
      I'm passionate about Design Systems, Accessibility and simplicity.
    </p>
    <p>
      I’ve worked for international companies across multiple agile teams and I have a lot of experience working on user flows, UI and interactions in large design systems for digital platforms.
    </p>
    <p>
      If you would still like to know more, take a look at my <a class="title__highlight" href="/assets/danoc__cv.pdf">resume</a>.
    </p>
    <br /><br />
    <h2>Contact</h2>
    <p>
      You can get hold of me via <a class="title__highlight" href="mailto:hello@danoc.nl">email</a> or <a class="title__highlight" href="https://www.linkedin.com/in/danocnl/" target="blank">LinkedIn</a>.
    </p>
  </div>
</section>
