---
layout: default
---
<section>
  <header class="title title__small" data-block>
    <h1>What do I do?</h1>
  </header>
  <h2 data-block>I am a UX designer with a background in interaction design and web development. In a world of ever increasing pace of change and complexity, my passion lies in keeping things simple and accessible for everyone. I've worked for international companies across multiple agile teams and I know how to design responsive user interfaces for large scale applications.</h2>
</section>
