---
layout: default
---
<section>
  <header class="title" data-block>
    <h1>Dan O'Connell</h1>
  </header>
  <h2 data-block>
    I’m a designer with a background in interaction design and web development. My passion lies in creating awesome digital experiences that are simple and accessible to everyone. I love to get to the root of the problem, challenge assumptions and design elegant solutions based upon research. I’ve worked for international companies across multiple agile teams and I have a lot of experience working on user flows, UI and interactions in large design systems for digital platforms.
  </h2>
  <h2 data-block>
    Contact me via <a class="title__highlight" href="mailto:hello@danoc.nl">email</a> or <a class="title__highlight" href="https://www.linkedin.com/in/danocnl/" target="blank">LinkedIn</a>. Check out some of my work on <a class="title__highlight" href="https://dribbble.com/theorise" target="blank">Dribble</a> & <a class="title__highlight" href="https://github.com/theorise" target="blank">Github</a>, or take a look at my <a class="title__highlight" href="/assets/danoc__cv.pdf">resume</a>.
  </h2>
</section>
