---
layout: default
---

<header class="title">
  <h1>{{ site.title }}</h1>
</header>

{% for post in site.posts %}
<article class="project">
  <a class="project--img" href="{{ post.url }}" title="View project - {{ post.title }} at {{ post.company }}">
    <img src="/assets/projects/{{ post.metaname }}/poster.png" alt="{{ post.description }}">
  </a>
  <div class="project--txt">
    <div>
      <h2>{{ post.title }} <span class="title__company">at {{ post.company }}</span></h2>
      <p>{{ post.description }}</p>
      <a href="{{ post.url }}" class="link" title="View project - {{ post.title }} at {{ post.company }}">
        <span>VIEW PROJECT</span> &rightarrow;
      </a>
    </div>
  </div>
</article>
{% endfor %}
