---
layout: default
---

<section class="title">
  <h1>
      {{ site.title }}
      <div class="title__slide">
        {% for node in site.titlenodes %}
          <span class="title__highlight">{{ node.text }}</span>
        {% endfor %}
      </div>
  </h1>
</section>

{% for post in site.posts %}
<article class="project">
  <a class="project--img" href="{{ post.url }}">
    <img src="/assets/img/project-1-l.png">
  </a>
  <div class="project--txt">
    <div>
      <h2>{{ post.title }} <span class="title__company">&horbar; {{ post.company }}<span></h2>
      <p>{{ post.description }}</p>
      <a href="{{ post.url }}" class="link">
        <span>View Project</span> &rightarrow;
      </a>
    </div>
  </div>
</article>
{% endfor %}
